<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%- siteSettings.description %>">
  <meta name="keywords" content="<%- siteSettings.keyworkds %>">

  <!-- title -->
  <title><%- title %></title>

  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="<%- siteSettings.favicon %>">

  <!-- css -->
  <link rel="stylesheet" href="/assets/css/sweetalert2.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/all-fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

  <!-- preloader -->
  <div class="preloader">
    <div class="loader-book">
      <div class="loader-book-page"></div>
      <div class="loader-book-page"></div>
      <div class="loader-book-page"></div>
    </div>
  </div>
  <!-- preloader end -->


  <!-- header area -->
  <header class="header">
    <!-- header top -->
    <div class="header-top">
      <div class="container">
        <div class="header-top-wrap">
          <div class="header-top-left">
            <div class="header-top-social">
              <span>Follow Us: </span>
              <a href="https://www.facebook.com/share/rJ2jx1ozV1Xqcka7/?mibextid=qi2Omg"><i class="fab fa-facebook-f"></i></a>
              <a href="https://wa.me/2349078231917"><i class="fab fa-whatsapp"></i></a>
            </div>
          </div>
          <div class="header-top-right">
            <div class="header-top-contact">
              <ul>
                <li>
                  <a href="#"><i class="far fa-location-dot"></i><%- siteSettings.address %></a>
                </li>
                <li>
                  <a href="https://live.themewild.com/cdn-cgi/l/email-protection#721b1c141d32170a131f021e175c111d1f"><i class="far fa-envelopes"></i> <span class="__cf_email__" data-cfemail="8fe6e1e9e0cfeaf7eee2ffe3eaa1ece0e2"><%- siteSettings.email %></span></a>
                </li>
                <li>
                  <a href="tel:+21236547898"><i class="far fa-phone-volume"></i><%- siteSettings.phone1 %></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-navigation">
      <nav class="navbar navbar-expand-lg">
        <div class="container position-relative">
          <a class="navbar-brand" href="/">
            <img style="width: 3em" src="/assets/img/logo/logo.png" alt="logo">
          </a>
          <div class="mobile-menu-right">
            <div class="search-btn">
              <button type="button" class="nav-right-link search-box-outer"><i class="far fa-search"></i></button>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-mobile-icon"><i class="far fa-bars"></i></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="https://diamondschools.com.ng/pages/about">About Us</a></li>
              <li class="nav-item"><a class="nav-link" href="https://diamondschools.com.ng/pages/contact">Contact Us</a></li>
              <li class="nav-item"><a class="nav-link" href="/pages/enroll">Enroll</a></li>
              <li class="nav-item"><a class="nav-link" href="https://exam.diamondschools.com.ng/">CBT</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Testimonials</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Events</a></li>
              <li class="nav-item"><a class="nav-link" href="https://student.diamondschools.com.ng">Student Login</a></li>
            </ul>
            <div class="nav-right">
              <div class="search-btn">
                <button type="button" class="nav-right-link search-box-outer"><i class="far fa-search"></i></button>
              </div>
              <div class="nav-right-btn mt-2">
                <a href="/pages/enroll" class="theme-btn"><span class="fal fa-pencil"></span>Apply Now</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- header area end -->


  <!-- popup search -->
  <div class="search-popup">
    <button class="close-search"><span class="far fa-times"></span></button>
    <form action="#">
      <div class="form-group">
        <input type="search" name="search-field" placeholder="Search Here..." required>
        <button type="submit"><i class="far fa-search"></i></button>
      </div>
    </form>
  </div>
  <!-- popup search end -->